*{
  box-sizing: border-box;
  
}






body{
position: relative;
width: 100%;
height:100%;
background-color:  #FAF3E0;
} 


.nav{
  position: absolute;
width: 100%;
height: 66px;
left: 0px;
top: 0px;
background-color:#CD9C27;
}

.corner{
  
position: absolute;
width: 126px;
height: 23px;
left: 70%;
top: 25px;

background: #000000;
border-radius: 20px;
}

.corner2{
  position: absolute;
width: 126px;
height: 23px;
left: 80%;
top: 25px;

background: #000000;
border-radius: 20px;
}


.corner3{
  position: absolute;
  width: 126px;
  height: 23px;
  left: 90%;
  top: 25px;
  
  background: #000000;
  border-radius: 20px;


}


/* .word >h3{
  color: white;
font-size: large;
  
} */




.all{
  height:100%;
  background:  #FAF3E0;
}

/* .navbar{

position: absolute;
width: 1339px;
height: 76px;
left: 42px;
top: 125px;
background:  #FAF3E0;
border-radius: 20px;

} */
/* .navbar-nav{
  padding-left: 0;
  background-color: black;
} */

/* 
.nav-item{
  padding: 0.66rem 0;
  text-align: center;
  background-color: coral;
} */
/* 
.nav-item1{
position: absolute;
width: 256px;
height:256px;
border-radius:256px;
left: 47px;
top: 117px;


}


.nav-item2{
  padding-left: 5vw;
  padding-right: 5vw;
  background-color: rgb(225, 65, 65);
}



.nav-item3{

  padding-left: 5vw;
  padding-right: 5vw;
  background-color: rgb(255, 6, 130);

} */



.nav-item4{

  padding-left: 5vw;
  padding-right: 5vw;
  background-color: rgb(247, 121, 3);

}



.nav-item5{

  padding-left: 5vw;
  padding-right: 5vw;
  background-color: rgb(255, 0, 200);

}

:root {
  --gutter: 20px;
}



:root {
  --gutter: 20px;
}

/* grid layout */
.hs {
  display: grid;
  grid-gap: calc(var(--gutter) / 2);
  grid-template-columns: 10px;
  grid-template-rows: minmax(300px, 2fr);
  grid-auto-flow: column;

  /* grid-auto-columns: calc(40% - var(--gutter) * 2); */


  
  /* padding-bottom: calc(.75 * var(--gutter));
  margin-bottom: calc(-.25 * var(--gutter)); */
}
/* scroll x not y */
.hs:before,
.hs:after {
  content: '';
  width: 100%;
}





/* body {
  height: 100%;
  background:  #FAF3E0;
  width: 100%;
} */




/* .app {

  overflow-y: scroll;
}
 */
.hs > li,
.item {
 
  /* padding: calc(var(--gutter) / 2 * 4); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #C4C4C4;
  border-radius: 8px;





  position:relative;
  background-position:center center;
  background-size:cover;
  background-repeat: no-repeat;

  box-shadow: 0px 5px 17px -7px rgba(0,0,0,0.75);
  border-radius:10px;
  margin-right:10px;
  transition: transform 100ms ease-in;
  cursor:pointer;
  
}



.item:hover{
  transform:scale(1.07);
}

.foot{position: absolute;
width: 100%;
height: 197px;
left: 0px;
top: 827px;

background: #CD9C27;
}

/* 
.profile{
margin-top: 5%;
font-family: Manrope;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 1px;
/* or 4% */

/* text-align: center;

color: #FFFFFF;

} */ 

/* 
.create{
  margin-top: 5%;
font-family: Manrope;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 1px; */
/* or 4% */
/* margin-left: 10%;
text-align: center;

color: #FFFFFF;
} */


/* .home{
  margin-top: 5%;
font-family: Manrope;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 1px;


text-align: center;

color: #FFFFFF;
} */


.general{
 position:relative;
left: 40%;
bottom: 50%;
color: #000000;
font-weight: bold;
font-size: x-large;
}


.help{
  
    position:relative;
   left: 40%;
   bottom: 50%;
   color: #000000;
   font-weight: bold;
   font-size: x-large;
   
}



.norm{
  font-weight: normal;
  font-size: large;
}


.icon{
  position: sticky;
width: 70px;
height: 60px;
left: 58px;


background: #C4C4C4;
border-radius: 999px;
}

.story{
    position:relative;
    background-position:center center;
    background-size:cover;
    background-repeat: no-repeat;
    width:109px;
    height:200px;
    box-shadow: 0px 5px 17px -7px rgba(0,0,0,0.75);
    border-radius:10px;
    margin-right:10px;
    transition: transform 100ms ease-in;
    cursor:pointer;
    
}

.story:hover{
    transform:scale(1.07);
}

.story__avatar{
    border:10px;
    border:5px solid #8b21f5
}

.story >h4{
    position: absolute;
    bottom:20px;
    left:20px;
    color: white;
}
