*{
  box-sizing: border-box;
  
}






body{
position: relative;
width: 100%;
height:100%;
background-color:  #FAF3E0;
} 

.body{
  background-color:  #FAF3E0;
}


.nav{
  position: absolute;
width: 100%;
height: 66px;
left: 0px;
top: 0px;
background-color:#CD9C27;
}

.corner{
  
position: absolute;
width: 126px;
height: 23px;
left: 70%;
top: 25px;

background: #000000;
border-radius: 20px;
}

.corner2{
  position: absolute;
width: 126px;
height: 23px;
left: 80%;
top: 25px;

background: #000000;
border-radius: 20px;
}


.corner3{
  position: absolute;
  width: 126px;
  height: 23px;
  left: 90%;
  top: 25px;
  
  background: #000000;
  border-radius: 20px;


}


/* .word >h3{
  color: white;
font-size: large;
  
} */




.all{
  height:100%;
  background-color:  #FAF3E0;
  
} 



.nav-item4{

  padding-left: 5vw;
  padding-right: 5vw;
  background-color: rgb(247, 121, 3);

}



.nav-item5{

  padding-left: 5vw;
  padding-right: 5vw;
  background-color: rgb(255, 0, 200);

}

:root {
  --gutter: 20px;
}



:root {
  --gutter: 20px;
}

/* grid layout */
.hs {
  display: grid;
  grid-gap: calc(var(--gutter) / 2);
  grid-template-columns: 10px;
  grid-template-rows: minmax(300px, 2fr);
  grid-auto-flow: column;
 padding-top: 15%;
 

  /* grid-auto-columns: calc(40% - var(--gutter) * 2); */


  
  /* padding-bottom: calc(.75 * var(--gutter));
  margin-bottom: calc(-.25 * var(--gutter)); */
}
/* scroll x not y */
.hs:before,
.hs:after {
  content: '';
  width: 100%;
  top: 200px;
}





/* body {
  height: 100%;
  background:  #FAF3E0;
  width: 100%;
} */




/* .app {

  overflow-y: scroll;
}
 */
.hs > li,
.item {
 
  /* padding: calc(var(--gutter) / 2 * 4); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(./cncrt.jpg);
  border-radius: 8px;

color: white;
  position:relative;
  background-position:center center;
  background-size:cover;
  background-repeat: no-repeat;

  box-shadow: 0px 5px 17px -7px rgba(0,0,0,0.75);
  border-radius:10px;
  margin-right:10px;
  transition: transform 200ms ease-in;
  cursor:pointer;

  
}
.item> h6{
  background-color:white;
  border-radius: 40%;
}


.item:hover{
  transform:scale(1.07);
}

.foot{position: absolute;
width: 100%;
height: 197px;
left: 0px;
top: 827px;

background: #CD9C27;
}

/* 
.profile{
margin-top: 5%;
font-family: Manrope;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 1px;
/* or 4% */

/* text-align: center;

color: #FFFFFF;

} */ 

/* 
.create{
  margin-top: 5%;
font-family: Manrope;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 1px; */
/* or 4% */
/* margin-left: 10%;
text-align: center;

color: #FFFFFF;
} */


/* .home{
  margin-top: 5%;
font-family: Manrope;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 1px;


text-align: center;

color: #FFFFFF;
} */


.general{
 position:relative;
left: 40%;
bottom: 50%;
color: #000000;
font-weight: bold;
font-size: x-large;
}


.help{
  
    position:relative;
   left: 40%;
   bottom: 50%;
   color: #000000;
   font-weight: bold;
   font-size: x-large;
   
}



.norm{
  font-weight: normal;
  font-size: large;
}


.icon{
  position: sticky;
width: 70px;
height: 60px;
left: 58px;


background: #C4C4C4;
border-radius: 999px;
}


.Search{
  position: absolute;
  width: 98vw;
  height: 76px;
  left: 0%;
  top: 5%;
  
  background: #C4C4C4;
  border-radius: 20px;
}

.box{
  position: absolute;
width: 98px;
height: 56px;
left: 2%;
top: 10%;

background: #C4C4C4;
border: 1px solid #000000;
box-sizing: border-box;
border-radius: 20px;
}

.box1{
  position: absolute;
width: 98px;
height: 56px;
left: 10%;
top: 10%;

background: #ffffff;
border: 1px solid #000000;
box-sizing: border-box;
border-radius: 20px;
}

.box2{
  position: absolute;
width: 98px;
height: 56px;
left: 20%;
top: 10%;

background: #ffffff;
border: 1px solid #000000;
box-sizing: border-box;
border-radius: 20px;
}

.box3{
  position: absolute;
width: 98px;
height: 56px;
left: 30%;
top: 10%;

background: #ffffff;
border: 1px solid #000000;
box-sizing: border-box;
border-radius: 20px;
}

.box4{
  position: absolute;
width: 98px;
height: 56px;
left: 30%;
top: 10%;

background: #ffffff;
border: 1px solid #000000;
box-sizing: border-box;
border-radius: 20px;
}






.box5{
  position: absolute;
width: 98px;
height: 56px;
left: 40%;
top: 10%;

background: #ffffff;
border: 1px solid #000000;
box-sizing: border-box;
border-radius: 20px;
}



.box6{
  position: absolute;
width: 98px;
height: 56px;
left: 50%;
top: 10%;

background: #ffffff;
border: 1px solid #000000;
box-sizing: border-box;
border-radius: 20px;
}




.box7{
  position: absolute;
width: 98px;
height: 56px;
left: 60%;
top: 10%;

background: #ffffff;
border: 1px solid #000000;
box-sizing: border-box;
border-radius: 20px;
}





.box8{
  position: absolute;
width: 98px;
height: 56px;
left: 70%;
top: 10%;

background: #ffffff;
border: 1px solid #000000;
box-sizing: border-box;
border-radius: 20px;
}


.box9{
  position: absolute;
width: 98px;
height: 56px;
left: 80%;
top: 10%;

background: #ffffff;
border: 1px solid #000000;
box-sizing: border-box;
border-radius: 20px;
}


.box10{
  position: absolute;
width: 98px;
height: 56px;
left: 90%;
top: 10%;

background: #ffffff;
border: 1px solid #000000;
box-sizing: border-box;
border-radius: 20px;
}





